.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1dvh 2dvw;
  height: 15dvh;
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.5s ease;
  border-bottom: 0.8px solid #fafafa;
}

.nav--dark {
  background-color: #151515;
  border-bottom: 0.8px solid #151515;
}

.nav img {
  height: 15dvh;
}

.nav div {
  display: flex;
  align-items: center;
  gap: 2.7dvw;
  text-transform: uppercase;
  font-weight: 500;
  color: #fafafa;
}

.nav div button {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #151515;
  border: 2px solid #fafafa;
  background-color: #fafafa;
  padding: 5px 8px;
}

.nav div button:hover {
  color: #fafafa;
  background-color: transparent;
  border: 2px solid #fafafa;
  cursor: pointer;
}

.nav a {
  color: #fafafa;
}

.hero {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../assets/IMG_9216.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-heading h1 {
  font-family: Antonio;
  font-size: 4rem;
  color: #fafafa;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.model {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85dvh;
}

.info {
  width: 40%;
}

model-viewer {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  background-color: #aaaaaa20;
}

.footer {
  height: 12dvh;
  width: 100dvw;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 2dvw;
  border-top: 1.5px solid #9e9e9e;
  font-size: 11px;
  font-weight: 400;
}

.footer-links {
  display: flex;
  gap: 2dvw;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 1.2dvw;
}

.footer-social a img {
  width: 20px;
}
